In [2]:
import numpy as np
import pandas as pd
# sale_id, date, customer_id, salesPerson_id, car_id, quantity, sales_price, Cost, Profit, Payment method,
# sales region, Sale year,Sale month, Sale quater, day of week, season


#discount, commision rate, commision earned,


#Remove Mr. and Mrs. from customer name column #Long way to go

In [3]:
ogdf = pd.read_csv('Car_sales_dataset_raw.csv')
spdf = pd.read_csv('Salesperson_table.csv')
cdf = pd.read_csv('Customer_table.csv')
cardf = pd.read_csv('Car_table.csv')
ogdf.sample(5)

,Date,Salesperson,Customer Name,Customer Age,Customer Gender,Car Make,Car Model,Car Year,Quantity,Sale Price,...,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region,Sale Year,Sale Month,Sale Quarter,Day of Week,Season
690959,2022-05-07,Richard Rogers,Deborah Perry,43,Female,Kia,Forte,2020,2,55352.84,...,0.10,Cash,0.07,3874.70,Idaho,2023,May,2,Saturday,Spring
404172,2019-04-22,Richard Rogers,Lindsey Kemp,68,Male,Nissan,Maxima,2022,3,92899.17,...,0.03,Lease,0.06,5573.95,Vermont,2022,April,2,Monday,Spring
690807,2019-04-08,Erin Gomez,Caitlin Dawson,70,Male,Nissan,Maxima,2023,3,106884.96,...,0.12,Loan,0.05,5344.25,Tennessee,2023,April,2,Monday,Spring
926441,2020-05-23,William Jones,Mark Harris,55,Male,Audi,A6,2019,3,155361.57,...,0.05,Lease,0.08,12428.93,South Carolina,2018,May,2,Saturday,Spring
563994,2021-10-05,David Hernandez,Larry Harris,59,Female,Kia,Optima,2022,3,94296.93,...,0.02,Loan,0.09,8486.72,Nebraska,2023,October,4,Tuesday,Fall

In [4]:
ogdf.columns

Index(['Date', 'Salesperson', 'Customer Name', 'Customer Age',
       'Customer Gender', 'Car Make', 'Car Model', 'Car Year', 'Quantity',
       'Sale Price', 'Cost', 'Profit', 'Discount', 'Payment Method',
       'Commission Rate', 'Commission Earned', 'Sales Region', 'Sale Year',
       'Sale Month', 'Sale Quarter', 'Day of Week', 'Season'],
      dtype='object')

In [5]:
ogdf['Car_Make_Model'] = ogdf['Car Make'] + ' '+ ogdf['Car Model']
car_make_model = ogdf.pop('Car_Make_Model')
ogdf.insert(7,'Car_Make_Model',car_make_model)
ogdf

,Date,Salesperson,Customer Name,Customer Age,Customer Gender,Car Make,Car Model,Car_Make_Model,Car Year,Quantity,...,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region,Sale Year,Sale Month,Sale Quarter,Day of Week,Season
0,2019-04-02,Mary Simon,Kristin Blackwell,42,Male,Hyundai,Santa Fe,Hyundai Santa Fe,2019,1,...,0.05,Loan,0.07,1816.43,Alaska,2019,April,2,Tuesday,Spring
1,2018-04-13,Nancy Mercado,Diana Black,65,Female,Ford,Explorer,Ford Explorer,2021,2,...,0.02,Cash,0.05,4111.84,Alabama,2023,April,2,Friday,Spring
2,2021-01-31,Pamela King,Craig Powers,67,Female,Kia,Telluride,Kia Telluride,2023,2,...,0.01,Lease,0.06,0.00,South Carolina,2024,January,1,Sunday,Winter
3,2020-09-30,Elizabeth Ashley,Jade Williams,69,Female,BMW,5 Series,BMW 5 Series,2022,2,...,0.04,Lease,0.06,9284.79,Maryland,2024,September,3,Wednesday,Fall
4,2020-07-03,Brian Cline,Nicholas Fernandez,50,Male,Audi,A6,Audi A6,2019,1,...,0.06,Loan,0.09,4376.61,Colorado,2019,July,3,Friday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000663,2022-10-30,Stacey Scott,Maurice Robles MD,67,Female,Mercedes,GLC,Mercedes GLC,2024,2,...,0.06,Loan,0.09,0.00,West Virginia,2021,October,4,Sunday,Fall
1000664,2018-01-01,David Barr DDS,Brian Mullins,39,Male,Nissan,Pathfinder,Nissan Pathfinder,2023,2,...,0.03,Cash,0.09,0.00,Connecticut,2021,January,1,Monday,Winter
1000665,2021-02-04,Melissa Hensley,Sarah Wilson,28,Female,Mercedes,C-Class,Mercedes C-Class,2022,3,...,0.04,Loan,0.07,0.00,Michigan,2024,February,1,Thursday,Winter
1000666,2020-11-15,Jennifer Weiss,Timothy Mcguire,70,Female,Kia,Sorento,Kia Sorento,2024,1,...,0.07,Cash,0.08,0.00,Minnesota,2019,November,4,Sunday,Fall
1000667,2019-01-26,Ashley Atkins,Kevin Mason,69,Female,Nissan,Maxima,Nissan Maxima,2022,3,...,0.01,Loan,0.09,0.00,Idaho,2024,January,1,Saturday,Winter

In [6]:
ogdf['Salesperson'] = ogdf['Salesperson'].str.replace(r'^(Mr\.|Mrs\.|Ms\.|Dr\.)\s+', '', regex=True)
ogdf['Salesperson'] = ogdf['Salesperson'].str.replace(
    r'[, ]*\b(?:M\.?D\.?|D\.?D\.?S\.?|D\.?V\.?M\.?|P(?:H|\.H\.?)\.?D\.?)\b[, ]*$',
    '',
    regex=True,
).str.strip()

In [7]:
ogdf_flag = pd.merge(ogdf,spdf, left_on = 'Salesperson', right_on = 'Sales person', how = 'left' )
ogdf_spid = ogdf_flag[['Salesperson_id']]
ogdf_spid

         Salesperson_id
0                   101
1                   102
2                   103
3                   104
4                   105
...                 ...
1000663             156
1000664             165
1000665             179
1000666             182
1000667             172

[1000668 rows x 1 columns]

In [8]:
ogdf_spid.isnull().sum()

Salesperson_id    0
dtype: int64

In [9]:
ogdf.columns

Index(['Date', 'Salesperson', 'Customer Name', 'Customer Age',
       'Customer Gender', 'Car Make', 'Car Model', 'Car_Make_Model',
       'Car Year', 'Quantity', 'Sale Price', 'Cost', 'Profit', 'Discount',
       'Payment Method', 'Commission Rate', 'Commission Earned',
       'Sales Region', 'Sale Year', 'Sale Month', 'Sale Quarter',
       'Day of Week', 'Season'],
      dtype='object')

In [10]:
ogdf['Salesperson_id'] = ogdf_spid
sh = ogdf.pop('Salesperson_id')
ogdf.insert(1,'Salesperson_id', sh)
print(ogdf.columns)
del ogdf['Salesperson']

Index(['Date', 'Salesperson_id', 'Salesperson', 'Customer Name',
       'Customer Age', 'Customer Gender', 'Car Make', 'Car Model',
       'Car_Make_Model', 'Car Year', 'Quantity', 'Sale Price', 'Cost',
       'Profit', 'Discount', 'Payment Method', 'Commission Rate',
       'Commission Earned', 'Sales Region', 'Sale Year', 'Sale Month',
       'Sale Quarter', 'Day of Week', 'Season'],
      dtype='object')

In [11]:
ogdf.columns

Index(['Date', 'Salesperson_id', 'Customer Name', 'Customer Age',
       'Customer Gender', 'Car Make', 'Car Model', 'Car_Make_Model',
       'Car Year', 'Quantity', 'Sale Price', 'Cost', 'Profit', 'Discount',
       'Payment Method', 'Commission Rate', 'Commission Earned',
       'Sales Region', 'Sale Year', 'Sale Month', 'Sale Quarter',
       'Day of Week', 'Season'],
      dtype='object')

In [12]:
import re

ogdf['Customer Name'] = ogdf['Customer Name'].str.replace(r'^(Mr\.|Mrs\.|Ms\.|Dr\.)\s+', '', regex=True)
ogdf['Customer Name'] = ogdf['Customer Name'].str.replace(
    r'[, ]*\b(?:M\.?D\.?|D\.?D\.?S\.?|D\.?V\.?M\.?|P(?:H|\.H\.?)?\.?D\.?)\b[, ]*$', 
    '', 
    regex=True,
    flags=re.IGNORECASE  # Important for case-insensitive matching
).str.strip()

In [13]:
ff = pd.merge(ogdf,cdf,left_on = 'Customer Name', right_on = 'Customer Name', how = 'left')
cust_id = ff['Customer ID']

In [14]:
ogdf.insert(2,'Customer_id', cust_id)
ogdf

,Date,Salesperson_id,Customer_id,Customer Name,Customer Age,Customer Gender,Car Make,Car Model,Car_Make_Model,Car Year,...,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region,Sale Year,Sale Month,Sale Quarter,Day of Week,Season
0,2019-04-02,101,1,Kristin Blackwell,42,Male,Hyundai,Santa Fe,Hyundai Santa Fe,2019,...,0.05,Loan,0.07,1816.43,Alaska,2019,April,2,Tuesday,Spring
1,2018-04-13,102,2,Diana Black,65,Female,Ford,Explorer,Ford Explorer,2021,...,0.02,Cash,0.05,4111.84,Alabama,2023,April,2,Friday,Spring
2,2021-01-31,103,3,Craig Powers,67,Female,Kia,Telluride,Kia Telluride,2023,...,0.01,Lease,0.06,0.00,South Carolina,2024,January,1,Sunday,Winter
3,2020-09-30,104,4,Jade Williams,69,Female,BMW,5 Series,BMW 5 Series,2022,...,0.04,Lease,0.06,9284.79,Maryland,2024,September,3,Wednesday,Fall
4,2020-07-03,105,5,Nicholas Fernandez,50,Male,Audi,A6,Audi A6,2019,...,0.06,Loan,0.09,4376.61,Colorado,2019,July,3,Friday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000663,2022-10-30,156,301586,Maurice Robles,67,Female,Mercedes,GLC,Mercedes GLC,2024,...,0.06,Loan,0.09,0.00,West Virginia,2021,October,4,Sunday,Fall
1000664,2018-01-01,165,50918,Brian Mullins,39,Male,Nissan,Pathfinder,Nissan Pathfinder,2023,...,0.03,Cash,0.09,0.00,Connecticut,2021,January,1,Monday,Winter
1000665,2021-02-04,179,4818,Sarah Wilson,28,Female,Mercedes,C-Class,Mercedes C-Class,2022,...,0.04,Loan,0.07,0.00,Michigan,2024,February,1,Thursday,Winter
1000666,2020-11-15,182,51964,Timothy Mcguire,70,Female,Kia,Sorento,Kia Sorento,2024,...,0.07,Cash,0.08,0.00,Minnesota,2019,November,4,Sunday,Fall
1000667,2019-01-26,172,19348,Kevin Mason,69,Female,Nissan,Maxima,Nissan Maxima,2022,...,0.01,Loan,0.09,0.00,Idaho,2024,January,1,Saturday,Winter

In [15]:
del ogdf['Customer Name']
del ogdf['Customer Age']
del ogdf['Customer Gender']
ogdf

,Date,Salesperson_id,Customer_id,Car Make,Car Model,Car_Make_Model,Car Year,Quantity,Sale Price,Cost,...,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region,Sale Year,Sale Month,Sale Quarter,Day of Week,Season
0,2019-04-02,101,1,Hyundai,Santa Fe,Hyundai Santa Fe,2019,1,25949.00,22137.55,...,0.05,Loan,0.07,1816.43,Alaska,2019,April,2,Tuesday,Spring
1,2018-04-13,102,2,Ford,Explorer,Ford Explorer,2021,2,82236.84,62126.52,...,0.02,Cash,0.05,4111.84,Alabama,2023,April,2,Friday,Spring
2,2021-01-31,103,3,Kia,Telluride,Kia Telluride,2023,2,60810.48,69496.62,...,0.01,Lease,0.06,0.00,South Carolina,2024,January,1,Sunday,Winter
3,2020-09-30,104,4,BMW,5 Series,BMW 5 Series,2022,2,154746.56,115996.08,...,0.04,Lease,0.06,9284.79,Maryland,2024,September,3,Wednesday,Fall
4,2020-07-03,105,5,Audi,A6,Audi A6,2019,1,48629.00,38186.63,...,0.06,Loan,0.09,4376.61,Colorado,2019,July,3,Friday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000663,2022-10-30,156,301586,Mercedes,GLC,Mercedes GLC,2024,2,11635042.86,20385673.61,...,0.06,Loan,0.09,0.00,West Virginia,2021,October,4,Sunday,Fall
1000664,2018-01-01,165,50918,Nissan,Pathfinder,Nissan Pathfinder,2023,2,4278278.04,19212398.14,...,0.03,Cash,0.09,0.00,Connecticut,2021,January,1,Monday,Winter
1000665,2021-02-04,179,4818,Mercedes,C-Class,Mercedes C-Class,2022,3,15849158.12,21226521.12,...,0.04,Loan,0.07,0.00,Michigan,2024,February,1,Thursday,Winter
1000666,2020-11-15,182,51964,Kia,Sorento,Kia Sorento,2024,1,3219017.06,15561676.60,...,0.07,Cash,0.08,0.00,Minnesota,2019,November,4,Sunday,Fall
1000667,2019-01-26,172,19348,Nissan,Maxima,Nissan Maxima,2022,3,12138223.13,17922997.09,...,0.01,Loan,0.09,0.00,Idaho,2024,January,1,Saturday,Winter

In [16]:
car_merge = pd.merge(ogdf,cardf,left_on = 'Car_Make_Model', right_on = 'Car_Make_model', how = 'left')
carid = car_merge['Car_id']
carid

0          1001
1          1002
2          1003
3          1004
4          1005
           ...
1000663    1034
1000664    1007
1000665    1012
1000666    1024
1000667    1015
Name: Car_id, Length: 1000668, dtype: int64

In [17]:
ogdf.insert(3,"Car_id", carid)
del ogdf['Car Make']
del ogdf['Car Model']
del ogdf['Car_Make_Model']
ogdf

,Date,Salesperson_id,Customer_id,Car_id,Car Year,Quantity,Sale Price,Cost,Profit,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region,Sale Year,Sale Month,Sale Quarter,Day of Week,Season
0,2019-04-02,101,1,1001,2019,1,25949.00,22137.55,3811.45,0.05,Loan,0.07,1816.43,Alaska,2019,April,2,Tuesday,Spring
1,2018-04-13,102,2,1002,2021,2,82236.84,62126.52,20110.32,0.02,Cash,0.05,4111.84,Alabama,2023,April,2,Friday,Spring
2,2021-01-31,103,3,1003,2023,2,60810.48,69496.62,-8686.14,0.01,Lease,0.06,0.00,South Carolina,2024,January,1,Sunday,Winter
3,2020-09-30,104,4,1004,2022,2,154746.56,115996.08,38750.48,0.04,Lease,0.06,9284.79,Maryland,2024,September,3,Wednesday,Fall
4,2020-07-03,105,5,1005,2019,1,48629.00,38186.63,10442.37,0.06,Loan,0.09,4376.61,Colorado,2019,July,3,Friday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000663,2022-10-30,156,301586,1034,2024,2,11635042.86,20385673.61,-8750630.75,0.06,Loan,0.09,0.00,West Virginia,2021,October,4,Sunday,Fall
1000664,2018-01-01,165,50918,1007,2023,2,4278278.04,19212398.14,-14934120.10,0.03,Cash,0.09,0.00,Connecticut,2021,January,1,Monday,Winter
1000665,2021-02-04,179,4818,1012,2022,3,15849158.12,21226521.12,-5377363.00,0.04,Loan,0.07,0.00,Michigan,2024,February,1,Thursday,Winter
1000666,2020-11-15,182,51964,1024,2024,1,3219017.06,15561676.60,-12342659.54,0.07,Cash,0.08,0.00,Minnesota,2019,November,4,Sunday,Fall
1000667,2019-01-26,172,19348,1015,2022,3,12138223.13,17922997.09,-5784773.96,0.01,Loan,0.09,0.00,Idaho,2024,January,1,Saturday,Winter

In [ ]:
sid = np.arange(1,1000669,1,dtype = int)
ogdf['Sale_id'] = sid
flag = ogdf.pop('Sale_id')
ogdf.insert()

Index(['Date', 'Salesperson_id', 'Customer_id', 'Car_id', 'Car Year',
       'Quantity', 'Sale Price', 'Cost', 'Profit', 'Discount',
       'Payment Method', 'Commission Rate', 'Commission Earned',
       'Sales Region', 'Sale Year', 'Sale Month', 'Sale Quarter',
       'Day of Week', 'Season', 'Sale_id'],
      dtype='object')

In [26]:
ordered_columns = [
    'Sale_id',
    'Date',
    'Sale Year', 
    'Sale Quarter', 
    'Sale Month', 
    'Day of Week', 
    'Season',
    'Salesperson_id',
    'Customer_id',
    'Car_id',
    'Car Year',
    'Quantity',
    'Sale Price',
    'Cost',
    'Profit',
    'Discount',
    'Payment Method',
    'Commission Rate',
    'Commission Earned',
    'Sales Region'
]
_cols = [col for col in ordered_columns if col in ogdf.columns]

ogdf= ogdf[_cols]
ogdf

,Sale_id,Date,Sale Year,Sale Quarter,Sale Month,Day of Week,Season,Salesperson_id,Customer_id,Car_id,Car Year,Quantity,Sale Price,Cost,Profit,Discount,Payment Method,Commission Rate,Commission Earned,Sales Region
0,1,2019-04-02,2019,2,April,Tuesday,Spring,101,1,1001,2019,1,25949.00,22137.55,3811.45,0.05,Loan,0.07,1816.43,Alaska
1,2,2018-04-13,2023,2,April,Friday,Spring,102,2,1002,2021,2,82236.84,62126.52,20110.32,0.02,Cash,0.05,4111.84,Alabama
2,3,2021-01-31,2024,1,January,Sunday,Winter,103,3,1003,2023,2,60810.48,69496.62,-8686.14,0.01,Lease,0.06,0.00,South Carolina
3,4,2020-09-30,2024,3,September,Wednesday,Fall,104,4,1004,2022,2,154746.56,115996.08,38750.48,0.04,Lease,0.06,9284.79,Maryland
4,5,2020-07-03,2019,3,July,Friday,Summer,105,5,1005,2019,1,48629.00,38186.63,10442.37,0.06,Loan,0.09,4376.61,Colorado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000663,1000664,2022-10-30,2021,4,October,Sunday,Fall,156,301586,1034,2024,2,11635042.86,20385673.61,-8750630.75,0.06,Loan,0.09,0.00,West Virginia
1000664,1000665,2018-01-01,2021,1,January,Monday,Winter,165,50918,1007,2023,2,4278278.04,19212398.14,-14934120.10,0.03,Cash,0.09,0.00,Connecticut
1000665,1000666,2021-02-04,2024,1,February,Thursday,Winter,179,4818,1012,2022,3,15849158.12,21226521.12,-5377363.00,0.04,Loan,0.07,0.00,Michigan
1000666,1000667,2020-11-15,2019,4,November,Sunday,Fall,182,51964,1024,2024,1,3219017.06,15561676.60,-12342659.54,0.07,Cash,0.08,0.00,Minnesota
1000667,1000668,2019-01-26,2024,1,January,Saturday,Winter,172,19348,1015,2022,3,12138223.13,17922997.09,-5784773.96,0.01,Loan,0.09,0.00,Idaho

In [28]:
ogdf.to_csv('Sales_table.csv', index= False)